@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}
.custom-scrollbar {
	overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgb(63 63 70 / var(--tw-bg-opacity, 1));
	border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgb(82 82 91 / var(--tw-bg-opacity, 1));
	border-radius: 0px;
}

.custom-scrollbar.inverse-colors::-webkit-scrollbar-thumb {
	background: rgb(82 82 91 / var(--tw-bg-opacity, 1));
}

.custom-scrollbar.inverse-colors::-webkit-scrollbar-track {
	background: rgb(63 63 70 / var(--tw-bg-opacity, 1));
}

.custom-scrollbar.rounded-scrollbar::-webkit-scrollbar-track {
	border-radius: 8px;
}
.custom-scrollbar {
	position: relative;
	overflow: auto;
	border-radius: 8px; /* Закругление границ */
	-webkit-mask-image: linear-gradient(to bottom, black 100%, transparent);
	-webkit-mask-composite: destination-in;
	mask-image: linear-gradient(to bottom, black 100%, transparent);
	mask-composite: exclude;
}

.my-wrap-text {
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.word-wrap {
	word-break: break-word;
	overflow-wrap: break-word;
}

::selection {
	background-color: #a1a1aa; /* Цвет фона при выделении */
	color: white; /* Цвет текста при выделении */
}

* {
	box-sizing: border-box;
}

/* themes */
[data-theme='purple'] {
	--theme-100: #f3e8ff;
	--theme-200: #e9d5ff;
	--theme-300: #d8b4fe;
	--theme-400: #c084fc;
	--theme-500: #a855f7;
	--theme-600: #9333ea;
	--theme-700: #7e22ce;
	--theme-800: #6b21a8;
	--theme-900: #581c87;
	--background: #2e1a47;
	--foreground: #e9d5ff;
	--auth-form-bg: rgba(107, 63, 160, 0.1);
}

[data-theme='gray'] {
	--theme-100: #f4f4f5;
	--theme-200: #e4e4e7;
	--theme-300: #d4d4d8;
	--theme-400: #a1a1aa;
	--theme-500: #71717a;
	--theme-600: #52525b;
	--theme-700: #3f3f46;
	--theme-800: #27272a;
	--theme-900: #18181b;
	--background: #18181b;
	--foreground: #f4f4f5;
	--auth-form-bg: rgba(82, 82, 91, 0.1);
}

/* modify */
[data-theme='black'] {
	--theme-100: #f4f4f5;
	--theme-200: #e4e4e7;
	--theme-300: #d4d4d8;
	--theme-400: #a1a1aa;
	--theme-500: #71717a;
	--theme-600: #52525b;
	--theme-700: #3f3f46;
	--theme-800: #27272a;
	--theme-900: #18181b;
	--background: #18181b;
	--foreground: #f4f4f5;
	--auth-form-bg: rgba(82, 82, 91, 0.1);
}

[data-theme='white'] {
	--theme-100: #f4f4f5;
	--theme-200: #e4e4e7;
	--theme-300: #d4d4d8;
	--theme-400: #a1a1aa;
	--theme-500: #71717a;
	--theme-600: #52525b;
	--theme-700: #3f3f46;
	--theme-800: #27272a;
	--theme-900: #18181b;
	--background: #18181b;
	--foreground: #f4f4f5;
	--auth-form-bg: rgba(82, 82, 91, 0.1);
}
/*  */