@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background:  rgb(63 63 70 / var(--tw-bg-opacity, 1));
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(82 82 91 / var(--tw-bg-opacity, 1));
  border-radius: 8px;
}

.my-wrap-text{


  overflow: hidden; 
  word-wrap: break-word;
  word-break: break-word; 
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
}